	<button ng-click="creator.getRollsSet()">generate set</button>
	<br>
	<ul>
		<li ng-repeat="x in creator.standardSet track by $index"><button ng-click="creator.rollAgain(creator.standardSet.indexOf(x))" >{{x}}</button></li>
	</ul>
	
	
	<button ng-click="creator.rollAllStats()">roll all stats</button>
	<button ng-click="creator.reroll('strength', 3,1,6)">reroll strength</button>
	<button ng-click="creator.reroll('wisdom', 3,1,6)">reroll wisdom</button>
	<button ng-click="creator.reroll('charisma', 3,1,6)">reroll charisma</button>
	<button ng-click="creator.reroll('dexterity', 3,1,6)">reroll dexterity</button>
